<div class="w-[380px] rounded-3xl p-10 flex flex-col items-start">
  <p class="text-slate-900 font-semibold leading-6 text-3xl mb-2 text-left">
    {{ data.title }}
  </p>

  <p class="text-slate-500 text-base mb-6 text-left">
    {{ data.content }}
  </p>

  <div class="mt-4 w-full flex gap-3">
    <button
      (click)="close()"
      class="flex-1 bg-white border-2 border-slate-300 cursor-pointer text-slate-700 px-4 text-sm font-medium py-4 rounded-lg outline-0 hover:bg-slate-50 transition-colors"
    >
      {{ data.cancelText || 'Cancel' }}
    </button>
    <button
      (click)="confirm()"
      class="flex-1 bg-blue-600 cursor-pointer text-white px-6 text-sm font-medium py-4 rounded-lg outline-0 border-0 hover:bg-blue-700 transition-colors"
    >
      {{ data.acceptText || 'Confirm' }}
    </button>
  </div>
</div>
